@tailwind base;
@tailwind components;
@tailwind utilities;

body.loading::before {
	content: '';
	position: absolute;
	width: 100%;
	height:  100%;
	background: rgba(0,0,0,.5);
	z-index: 5;
}

body.loading::after {
  content: '⛏️';
  position: absolute;
  font-size: 500%;
  animation-duration: 1s;
  animation-name: loading-animation;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  left: 45%;
  top: 45%;
  z-index: 55;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
    50% {
        transform: rotate(120deg);
    }
  to {
    transform: rotate(0deg);
  }
}

* {
	transition: .2s;
}

th {
	@apply text-left;
	cursor: pointer;
}


tr:nth-child(2n){
	@apply bg-gray-700;
}

th,td {
	@apply p-2;
}

a {
	text-decoration: underline;
}

p {
	@apply mb-2;
}