@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-700;
  /*background: var(--primary);*/
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-500 border-gray-500 border-4;
  /*background-color: var(--secondary);*/
  border-radius: 14px;
  /*border: 3px solid var(--primary);*/
}

body.loading::before {
	content: '';
	position: absolute;
	width: 100%;
	height:  100%;
	background: rgba(0,0,0,.5);
	z-index: 5;
}

body.loading::after {
  position: absolute;
  font-size: 500%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  left: 50%;
  top: 50%;
  z-index: 55;
  transform: translate(-50%, -50%);
  
}
body.loading.bot::after { content: '🪓'; animation-name: loading-animation-bot; transform-origin: right }
body.loading.hnt::after { content: '🏹'; animation-name: loading-animation-hnt; transform-origin: unset; }
body.loading.fsh::after { content: '🎣'; animation-name: loading-animation-fsh; transform-origin: bottom right; }
body.loading.gc::after { content: '💵';  animation-name: loading-animation-gc; }
body.loading.min::after { content: '⛏️'; animation-name: loading-animation-min; transform-origin: bottom;}

body.loading.error::after {
  content: '❌ Error ❌';
  font-family: monospace;
  animation-iteration-count: 0;
}

@keyframes loading-animation-bot {
  from {
    transform: translate(-50%, -50%) rotate(100deg);
  }
  15% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  20% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(100deg);
  }
}

@keyframes loading-animation-hnt {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
      transform: translate(-50%, -50%) rotate(48deg);
  }
  85% {
      transform: translate(-50%, -50%) rotate(48deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes loading-animation-fsh {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  35% {
    transform: translate(-50%, -50%) rotate(-35deg);
  }
  55% {
      transform: translate(-50%, -50%) rotate(55deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes loading-animation-gc {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  33% {
    transform: translate(-50%, -50%) rotate(-25deg);
  }
  66% {
      transform: translate(-50%, -50%) rotate(25deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes loading-animation-min {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  15% {
      transform: translate(-50%, -50%) rotate(125deg);
  }
  20% {
      transform: translate(-50%, -50%) rotate(125deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

* {
	transition: .2s;
}

th {
	@apply text-left;
	cursor: pointer;
  white-space: nowrap;
}


tr:nth-child(2n){
	@apply bg-gray-700;
}

th,td {
	@apply p-2;
}

a {
	text-decoration: underline;
}

p {
	@apply mb-2;
}